# Plugin Config
EnableOnStart: false
PluginPrefix: "&7[{#13A7DE>}HoloQuiz{#21C7FF<}&7] "
CollectRewardsOnJoin: true
LoggingLevel: 1 #1: Low | 2: Medium | 3: High

# A special override which directly Sends item Rewards To Storage (SRTS) instead of to their inventory.
SRTS_listType: Blacklist #Available: Whitelist/Blacklist
SRTS_enableForCommands: true #For when your commands may give items. Note that this does not consider whether the player inventory has space.
SRTS_WorldList:
  - world_nether #No HoloQuiz in the Nether!

# Game Config
Interval: 300 #In Seconds
GameMode: Trivia #Available: Trivia / Math / Mixed
MixedGameModeDistribution: #Sums all the numbers, and the chance is the specified number.
  Trivia: 1
  Math: 1
CorrectAnswerMessageLoc: TitleMsg #Available: TitleMsg/ActionBar/Disabled
IntervalCheck: 10 #Checks if the Interval has lapsed after (20 * this amount) of ticks. Enable if Server TPS Sucks. Set to 0 to disable.
QuestionCooldown: 3 #The same question will not appear for this number of questions sent. List is reset once server restarts.
RevealAnswerDelay: 5 #Reveals the answer, and sends question after this amount of seconds. Set to -1 to not reveal answer.
GracePeriod: 0.05 #Correct answers within this time of the first correct answer will also be accepted.
Cheats:
  MinTimeChecker:
    Checker: true
    CheatingTimer: 0.5 #In Seconds
    CountAsCorrect: false
    CommandToPerform:
      - "msg [player] How did you answer so quickly? Cheats? >:("
      - "report [player] might be cheating in HoloQuiz, answering wth a time of [stat]!"
  ConsistencyChecker:
    Checker: true
    NumberOfAnswers: 5
    AcceptableSD: 0.1 #In seconds. The higher, the more sensitive it is.
    CountAsCorrect: true
    CommandToPerform:
      - "report [player] might be cheating in HoloQuiz, answering with a SD of [stat]!"

QuickMath:
  #Uses ceil(|X~N(Range, Range/2)|) to generate numbers for Range <=10, and X~U(0, Range) otherwise.
  MathRange: 20
  Distribution: Default  #Overrides the above if you wish. Available: Default/Normal/Uniform
  DivisorLimit: true #Ensures divisor <= 10
  OperationsLimit: 4 #Min(ceil(|X~N(Limit, 1)|),4) taken.
  MathDifficulty: Normal #Available: Easy/Normal/Hard. Higher difficulty increases the chance of * and / appearing.
  ChaosMode: false #I am not liable for what you see next
  QuestionColour: "&6"

# Leaderboard Config
LeaderboardSize: 10
LeaderboardMinQuestionsNeeded: 50

#Contests feature
Contests: #Edit Rewards in Rewards.yml!
  #If changing the below 2 keys, it is recommended to disable all ongoing contests, changing then re-enabling them.
  WeeklyResetDay: Monday
  TimeZone: GMT+8 #Used to offset if the server host has a different time zone.
  LeaderboardMaxSize: 20 #For if you have a lot of placements, but don't want to flood the GUI. Shows top (X-1) and the last place.
  #These 3 Standard Contest Types are required: Daily / Weekly / Monthly
  Daily:
    Top: true
    Fastest: true
    BestAvg: false
    BestX: false
    BestAvgMinReq: 5
    BestXMinReq: 5
    StartTimestamp: 1753977600
    EndTimestamp: 1754063999
    Status: Enabled  #Enabled / Disabled are the only ones you should set.
  Weekly:
    Top: true
    Fastest: true
    BestAvg: true
    BestX: false
    BestAvgMinReq: 10
    BestXMinReq: 30
    StartTimestamp: 1753632000
    EndTimestamp: 1754236799
    Status: Enabled  #Enabled / Disabled are the only ones you should set.
  Monthly:
    Top: true
    Fastest: true
    BestAvg: true
    BestX: false
    BestAvgMinReq: 30
    BestXMinReq: 60
    StartTimestamp: 1753977600
    EndTimestamp: 1756655999
    Status: Enabled  #Enabled / Disabled are the only ones you should set.
  #Custom Contest Types can be added too! Note that extra fields are required.
  #The name of the Key will be used as the name of the Contest!
  Custom:
    AZKiBirthday:
      Top: true
      Fastest: true
      BestAvg: true
      BestX: false
      BestAvgMinReq: 100
      BestXMinReq: 50
      StartTimestamp: 1710604800 #17th March 2024, the day INNK Reunited on HoloFes
      EndTimestamp: 1782921599 #1st July 2026
      RewardCategory: Pioneers
      Status: Enabled  #Enabled / Disabled are the only ones you should set. "Ended" is automatically set when it ends.


# Easter Eggs!
EasterEggs: true
InaGoesWAH: false #TODO: Change to double - 0 to disable, 1 to always trigger